RoutinServer_Client/Test/Connected Services/ServiceReference1/RoutingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RoutingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8735/RoutingServer/SOAP/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8735/RoutingServer/SOAP/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8735/RoutingServer/SOAP/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoutingServer" />
      <xsd:import schemaLocation="http://localhost:8735/RoutingServer/SOAP/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoutingService_GetItinerary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItinerary" />
  </wsdl:message>
  <wsdl:message name="IRoutingService_GetItinerary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItineraryResponse" />
  </wsdl:message>
  <wsdl:message name="IRoutingService_GetContractName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContractName" />
  </wsdl:message>
  <wsdl:message name="IRoutingService_GetContractName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoutingService">
    <wsdl:operation name="GetItinerary">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingService/GetItinerary" message="tns:IRoutingService_GetItinerary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingService/GetItineraryResponse" message="tns:IRoutingService_GetItinerary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContractName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingService/GetContractName" message="tns:IRoutingService_GetContractName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingService/GetContractNameResponse" message="tns:IRoutingService_GetContractName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoutingService" type="tns:IRoutingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItinerary">
      <soap:operation soapAction="http://tempuri.org/IRoutingService/GetItinerary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractName">
      <soap:operation soapAction="http://tempuri.org/IRoutingService/GetContractName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoutingService">
    <wsdl:port name="BasicHttpBinding_IRoutingService" binding="tns:BasicHttpBinding_IRoutingService">
      <soap:address location="http://localhost:8735/RoutingServer/SOAP/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>